* {
  margin: 0;
  box-sizing: border-box;
}

body {
  max-height: 100%;
  font-family: "Inter", sans-serif;
  font-size: 18px;
  background-color: #b6beb6;
  place-items: center;
}

nav,
header,
.nav_links,
li {
  background-color: #222223;
}

.logo {
  width: auto;
  height: 50px;
  background-color: inherit;
  cursor: pointer;
  margin-right: auto;
}
.styled-button {
  border: none;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 10px;
  background-color: #f5f5f5; 
  color: #000000;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}
#connectWalletBtn {
  background-color: #4CAF50;
  color: white;
  padding:10px 20px;
  border: none;
  margin: 10px 210px;
  font-size: 16px;
  border-radius: 10px;
  cursor: pointer;
  float: right;
  border-radius: 10px;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

.float-right {
  float: right;
}
li,
a {
  font-family: "Montserrat", sans-serif;
  font-family: 400;
  font-size: 16px;
  color: #ededed;
  text-decoration: none;
}

header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 10px 10%;
}

.nav_links {
  list-style: none;
  margin-top: 10px;
}

.nav_links li {
  display: inline-block;
  padding: 10px 20px;
}

.nav_links li a {
  transition: all 0.3s ease 0s;
}

.nav_links li a:hover {
  color: #2248d1;
  text-decoration: none;
}
/*
@media screen and (max-width: 850px) {locationlocation
    #leftcolumn, #rightcolumn { 
        float: none;
        width: 100%;
        padding: 0;
    }
}
*/
#info {
  color: #ededed;
  margin-top: 2%;
}

#submit {
  color: #ededed;
  margin-top: 3%;
}

#loc,
#ev,
#selected {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    color: #000000;
}

#mymap {
  height: 600px;
  max-width: 90%;
  margin-top: 2%; /*extra - just to make it look better*/
  padding-top: 50px;
  box-shadow: 0 8px 32px 0 rgba(73, 97, 220, 0.5);
  border-radius: 20px;
  border: transparent;
}

.hidden {
  display: none;
}
